@import url('https://fonts.googleapis.com/css?family=Oswald');


body
{
  background-color: white;
  font-family:'Merriweather', serif;

}

.fl-left{float: left}

.fl-right{float: right}



  .container {
    width: 100%;
    margin: 100px auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
}


h1
{
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px
}

.row{overflow: hidden}

.card
{
  display: table-row;
  width: 49%;
  background-color: grey;
  color: white;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  position: relative
}

.card + .card{margin-left: 2%}

.date
{
  height: 300px;
  display: table-cell;
  width: 25%;
  position: relative;
  text-align: center;
  border-right: 2px dashed white;
}

.date:before,
.date:after
{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: -15px ;
  right: -15px;
  z-index: 1;
  border-radius: 50%
}

.date:after
{
  top: auto;
  bottom: -15px
}

.date time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.date time span{display: block}

.date time span:first-child
{
  color: white;
  font-weight: 600;
  font-size: 250%
}

.date time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px
}

.card-cont
{
  display: table-cell;
  width: 75%;
  font-size: 85%;
  padding: 10px 10px 30px 50px
}

.card-cont h3
{
  color: white;
  font-size: 130%
}


.card-cont > div
{
  display: table-row
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p
{
  display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i
{
  padding: 5% 5% 0 0
}

.card-cont .even-info p
{
  padding: 30px 50px 0 0
}

.card-cont .even-date time span
{
  display: block
}

.card-cont a
{
  display: block;
  text-decoration: none;
  width: 80px;
  height: 30px;
  background-color: #D8DDE0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px
}

.row:last-child .card:first-child .card-cont a
{
  background-color: #037FDD
}

.row:last-child .card:last-child .card-cont a
{
  background-color: #F8504C
}
.tick{

      width: 700px;
      height: 300px;


}
.topcontainer{

  margin-bottom: 0;
}
.top1{
    margin-top: 100px;
}

#h{
  border-left: none;
}
.box{
  padding-bottom: 0;
}
@media(max-width: 860px)
{
  .card
  {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px
  }

  .card + .card{margin-left: 0}

  .card-cont .even-date,
  .card-cont .even-info
  {
    font-size: 75%
  }

  }

  @media(min-width: 860px)
  {
  .container{
    padding-left: 300px;
  }
}
